<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
       >
        <activity
            android:name="com.example.module.ui.SongNullActivity"
            android:exported="false" />
        <service
            android:name="com.example.module.ui.services.MusicService"
            android:exported="true" />

        <activity
            android:name="com.example.module.ui.MusicPlayActivity"
            android:exported="false" />
        <activity
            android:name="com.example.module.ui.activities.SongListActivity"
            android:exported="false" />
        <activity
            android:name="com.example.module.ui.MainActivity"
            android:exported="true">

        </activity>
    </application>


</manifest>